<div class="container">
  <div class="first-view-title">
    <h1 class="my-5 text-center border border-3 border-dark p-3">Welcome to <br>Coffee Rendezvous</h1>
  </div>
  <div class="btn-group">
  <div>
  <%= link_to "カフェ新規登録", "#", class:"btn btn-outline-primary" %>
  </div>
  <div>
  <%= link_to "カフェを探す", "#", class:"btn btn-outline-success" %>
  </div>
  </div>
</div>
